:root{
  --gold: #b3a133;
  --heading-font: BebasNeue;
  --content-font: Rubik, sans-serif;
}

.App{
  display: flex;
  flex-wrap: wrap;
}
ul{
  -webkit-padding-start: 0px;
}
h1{
  font-family: var(--heading-font);
  font-size: 45px;
}
main{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 30px auto;
}
.banner-wrapper{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-top: 130px;
}
.banner-wrapper img{
  max-width: 475px;
}

.nav-wrapper{
  width: 100%;
  flex: 0 1 100%;
  display: flex;
  justify-content: center;
}
.open-wrap{
  padding-bottom: 50px;
}
.main-nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin: none;
  -webkit-margin-before:0em;
  -webkit-margin-after:0em;
  -webkit-margin-before:0em;
  -webkit-padding-start:0em;
  background-color:var(--gold);
  height: 75px;
  width: 75%;
  border-radius: 5px;
  border: 1px #8a781d solid;
}

.main-nav li a{
  color: #fff;
  text-decoration: none;
  font-family: var(--heading-font);
  font-size: 40px;
  -webkit-text-stroke: 1px black;
}

.main-nav li a:hover{
  color: black;
  transition: color 100ms ease-in;
}

.nav-active{
  color: black;
  -webkit-text-stroke: 1px #fff;
}

.burger {
  width: 50px;
  height: 95px;
  position: relative;
  align-self: flex-end;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.burger span:nth-child(1) {
  top: 0px;
}

.burger span:nth-child(2) {
  top: 13px;
}

.burger span:nth-child(3) {
  top: 25px;
}

.burger.open span:nth-child(1) {
  top: 13px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.burger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.burger.open span:nth-child(3) {
  top: 13px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.about-wrapper{
  display: flex;
  flex-direction: column;
}
.page-heading{
  align-self: center;
  letter-spacing: 5px;
}
.about-wrapper p{
  padding: 0px 10px;
}
.line-height{
  line-height: 30px;
}
p a{
  font-weight: bolder;
  text-decoration: none;
  color: #22aed2;
}
.contact-wrapper{
  display: flex;
  flex-direction: column;
}
.contact-form{
  margin-top:2em;
}
.fields-wrap{
  display: flex;
  list-style: none;
  flex-wrap:wrap;
  width: 100%;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-padding-start: 0em;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;  
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 140px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea,
.flex-outer li select{
  padding: 15px;
  border: 2px solid #3a3a3a;
  font-family: var(--content-font);
}

.flex-outer li select{
  appearance: textfield;
  -webkit-appearance: textfield;
  font-family: var(--content-font);
  border-radius: 0px;

}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: var(--gold);
  color: #000;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
  font-weight: bold;
}

.flex-inner li {
  width: 100px;
}

.footer-wrapper{
  width: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 75px;
  justify-content: center;
  background-color: var(--gold);
  margin: 0 auto;
  border-radius: 5px;
  border: 1px #8a781d solid;
  font-family: var(--heading-font);
  letter-spacing: 2px;
  color: #000;
}
.footer-wrapper a{
  font-family: var(--heading-font);
  color: #fff;
  font-weight: normal;
}

/* Grow Rotate */
.footer-wrapper a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.footer-wrapper a:hover{
  -webkit-transform: scale(1.2) rotate(6deg);
  transform: scale(1.2) rotate(6deg);
}
.instagram-container{
  display:flex;
}
.instagram-container h2{
  align-self: flex-start;
  text-align: center;
  font-family: var(--heading-font);
  letter-spacing: 2px;
  padding-top: 3em;
}
.instagram-container h2 a{
  text-decoration: none;
  color: #0aa03c;
}
.contact-thanks{
  align-self: center;
}
.home-heading{
  align-self:center;
  margin-bottom: 45px;
}
.home-container{
  display:flex;
  flex-direction: column;
}
.instagram-wrapper{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
}
.instagram-wrapper a{
  background: white;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 5px 5px 15px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
  position:relative;
}
.instagram-wrapper img{
    display: block; 
    width: inherit; 
}
.instagram-wrapper a:first-child
{
  -webkit-transform: rotate(-12deg);  
  -moz-transform: rotate(-12deg); 
  transform: rotate(-12deg); 
}
.instagram-wrapper a:nth-child(2n)
{
  -webkit-transform: rotate(4deg);  
  -moz-transform: rotate(4deg); 
  transform: rotate(4deg); 
}
.instagram-wrapper a:nth-child(3n) { 
  -webkit-transform: rotate(-24deg);  
  -moz-transform: rotate(-24deg); 
  transform: rotate(-24deg); 
}
.instagram-wrapper a:nth-child(11n) { 
  -webkit-transform: rotate(-29deg);  
  -moz-transform: rotate(-29deg); 
  transform: rotate(-29deg); 
}
.instagram-wrapper a:nth-child(4n)
{
  -webkit-transform: rotate(14deg);  
  -moz-transform: rotate(14deg); 
  transform: rotate(14deg); 
}
.instagram-wrapper a:nth-child(5n)
{
  -webkit-transform: rotate(-18deg);  
  -moz-transform: rotate(-18deg); 
  transform: rotate(-18deg); 
}
.instagram-wrapper a:nth-child(7n)
{
  -webkit-transform: rotate(-18deg);  
  -moz-transform: rotate(-18deg); 
  transform: rotate(-18deg); 
}
.instagram-wrapper a:hover{
	-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg);
        transform: rotate(0deg);
	-webkit-transform: scale(1.2); 
	-moz-transform: scale(1.2);
        transform: scale(1.2);
	z-index:10;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #000000;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
.login-container{
  display: flex;
  flex-direction: column;
}
.error-wrapper{
  display:flex;
  flex-direction: column;
}
.error-message, .error-wrapper h2{
  align-self: center;
  color:red;
  text-transform: uppercase;
}
.admin-tools-link{
  text-decoration: none;
  font-size: 20px;
  font-weight:bold;
  text-transform: uppercase;
  font-family: var(--heading-font);
  letter-spacing: 3px;
  background-color: red;
  padding: 5px;
  border-radius: 3px;
  color:white;
  align-self: flex-start;
  margin-bottom: 50px;
  margin-left: 5%;
  box-shadow: 5px 5px 5px black;
  z-index:2;
}
.flex-center{
  align-self: center;
}
.fade-enter, .fade-appear { opacity:0; }
.fade-enter.fade-enter-active,
.fade-appear.fade-appear-active { opacity:1; transition: opacity 1s; }
.fade-exit { opacity:1; }
.fade-exit.fade-exit-active { opacity:0; transition: opacity 300ms; }
.sub-nav{
  align-self:center;
  display: inline-flex;
  -webkit-padding-start: 0px;
}
.sub-nav li{
  list-style: none;
}
.sub-nav a{
    text-align: center;
    display: block;
    padding: 10px 15px;
}

.sub-nav li a {
  color: #000;
  font-family: var(--heading-font);
  font-size: 20px;
  text-decoration: none;
}
.sub-nav-active{
  border-bottom: 2px solid #093a58;
}
.sub-page-heading{
  align-self: center;
}
.menu-form-list{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
}
.menu-item{
  max-width:400px;
}
.full-row{
  max-width:none;
}
.menu-form-list li input:not([type='submit']){
  padding: 15px;
  border: 2px solid #3a3a3a;
  font-family: var(--content-font);
  min-width:330px;
  margin-top:15px;
  margin-bottom:15px;
}
.menu-form-list li select{
  -moz-appearance: textfield;
  appearance: textfield;
  -webkit-appearance: textfield;
  border-radius: 0px;
  padding: 15px;
  border: 2px solid #3a3a3a;
  font-family: var(--content-font);
  min-width:330px;
  margin-top:15px;
  margin-bottom:15px;
  box-sizing: content-box;
}

.menu-form-list li label{
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}
.menu-form-list li input[type='submit']{
  padding: 15px;
  border: 2px solid #3a3a3a;
  font-family: var(--content-font);
  text-transform: uppercase;
  min-width:330px;
  margin-top:15px;
  margin-bottom:15px;
  background-color: var(--gold);
  box-sizing: content-box;
}
.add-menu-submit{
  flex: 0 100%;
}
.error{
  color: red;
  align-self: center;
  text-transform: uppercase;
  text-align:center;
}
#add-menu-desc{
  border-radius: 0px;
  padding: 15px;
  border: 2px solid #3a3a3a;
  font-family: var(--content-font);
  min-width: 330px;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  resize:none;
}
.full-row{
  display:flex;
  flex: 0 0 100%;
  flex-direction: column;
  align-items: center;
}
.delete-item{
  color:red;
  margin-left: 10px;
}
.confirm{
  color: green;
}
.error.conf{
  color: black;
}
.cancel{
  color: red;
}
.menu-container{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.cat-menu{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cat-type{
  font-family: var(--heading-font);
  font-size: 37px;
  letter-spacing: 3px;
  margin-top: 2.5em;
}
.cat-type.salad{
  margin-bottom: 0px;
}
.cat-type.app{
  margin-top: 1em;
}
.cat-addon{
  font-family: var(--heading-font);
  letter-spacing: 1px;
}
.cat-menu ul{
  flex: 0 0 25%;
  text-align: center;
  list-style: none;
}
.cat-menu.bowls ul{
  flex: 0 0 30%;
  text-align: center;
  list-style: none;
}
.cat-menu.breakfast ul{
  flex: 0 0 30%;
  text-align: center;
  list-style: none;
}
.menu-header{
  font-weight:bold;
}
.gluten-free{
  color: var(--gold);
  font-size: 12px;
}
.soy-free{
  color: rgb(161, 214, 171);
  font-size: 12px;
}
.menu-desc{
  margin-top:10px;
  font-size: 10px;
  font-style: italic;
}
.menu-addons{
  margin-top:10px;
  font-size: 10px;
  font-weight: bold;
}
.menu-download{
  color: var(--gold);
  font-size: .7em;
}
/* ================================= 
  Media Queries
==================================== */

/* Large Screen */
@media all and (max-width: 1199px) {
  .instagram-container h2{
    padding-top: 4em;
  }
  .full-row {
    display: block;
    max-width: 400px;
}
} 

/* Small Screen Laptop */
@media all and (max-width: 1100px) {
  .banner-address{
    width: 75%;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
  }
  .instagram-wrapper a{
    margin: 0 10px 30px;
  }
  .instagram-wrapper h2{
    -webkit-margin-after: 1em;
  }
  .main-nav li a{
    font-size: 33px;
  }
  .full-row{
    display:block;
    max-width:400px;
  }
  .cat-menu ul,.cat-menu.bowls ul,.cat-menu.breakfast ul{
    flex: 0 0 40%;
  }
  .cat-menu ul:nth-last-child(1):nth-child(odd){
    flex: 0 1 100%;
  }
} 


/* Tablet */
@media all and (max-width: 768px) { 
  .banner-address{
    width: 60%
  } 
  .main-nav{
    width:80%;
  }
  .main-nav li a{
    font-size: 28px;
  }
  .instagram-container h2{
    padding-top: 0em;
    align-self: center;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 1em;
  }
  
  .instagram-container{
    flex-direction: column;
  }
  .cater{
    text-align: center;
  }
  .cat-menu ul:nth-last-child(1):nth-child(odd){
    flex: 0 1 100%;
  }
}

/* Phones */
@media all and (max-width: 575px) { 
  .banner-wrapper img{
    width: 80%;
    align-self:center;
  }
  .banner-wrapper a{
    display:flex;
    justify-content: center;  
  }
  .banner-wrapper{
    margin-bottom: 30px;
  }
  .nav-wrapper{
    flex-direction: column;
    align-items: center;
  }
  .burger{
    display: block;
    margin-left: 15px;
    align-self: flex-start;
    height: 95px;
  }
  .banner-address{
    width: 70%;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
  }
  .main-nav{
    display: none;
    flex-direction: column;
    background: none;
    border: none;
  }
  .main-nav li a{
    color: var(--gold);
  }
  .page-heading{
    font-size: 40px;
    letter-spacing: 0px;
  }
  .about-wrapper p{
    line-height: 25px;
    padding: 0px 0px;;
  }
  main{
    width: 90%;
  }
  .banner-wrapper{
    margin-top:60px;
  }
  .footer-wrapper{
    width: 100%;
  }
  .instagram-wrapper a
  {
    -webkit-transform: none !important; 
    -moz-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    margin: 5px auto;
  }
  .instagram-wrapper a:hover{
    z-index:10;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
    box-shadow: 0 10px 20px rgba(0,0,0,.7);
  }
  .menu-form-list li input:not([type='checkbox']), .menu-form-list li select, #add-menu-desc{
    min-width:320px;
  }
  .menu-item{
    min-width:none;
    max-width: none;
    justify-self: center;
  }
  .full-row{
    justify-self: center;
  }
  .menu-form-list, .menu-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    /* flex-wrap: wrap; */
    -ms-flex-pack: space-evenly;
    /* justify-content: space-evenly; */
    list-style: none;
    align-items: center;
    -webkit-padding-start: 0px;
}
.cater{
  text-align: center;
}
.cat-menu ul:nth-last-child(1):nth-child(odd){
  flex: 0 1 100%;
}

}




