@import url('https://fonts.googleapis.com/css?family=Rubik');

@font-face {
  font-family: BebasNeue;
  src: url("../fonts/BebasNeue.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  font-family: Rubik, sans-serif;
}
